.caja {
 width: 200px;
 height: 200px;
 background-color: #56C585;
 text-align: center;
 font-size: 40px;
 font-family: "Arial";
 line-height: 200px;
}
.caja-inline {
 display: inline-block;
}
.container {
	margin: 8px;
	width: 600px;
	background-color: #B73636;
	padding: 10px;
}
.caja-float {
	float: left;
}
.repisa {
	display: block;
	clear: both;
}
.container:before, .container:after {
	display: block;
	clear:both;
	content: "";
}