#separator {
	border-top: 3px solid black;
	width: 65px; 
	height: 15px;
	display: block;
}
#bloques {
	width: 750px;
}
.container {
  height: 212px;
  width: 212px;
  position: relative;
  margin: 10px 10px 10px 10px ;
  display: inline-block;
}
.image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: inline-block;
}
.text {
  z-index: 2;
  position: absolute;
  color: #ffffff;
  font-size: 16px;
  left: 140px;
  top: 170px;
}

