body {
	margin: 0;
	padding: 0;
}
.cuadro1 {
	width: 200px;
	height: 200px;
	background-color: #ee3e64;
	position: relative;
}
.cuadro2 {
	width: 200px;
	height: 200px;
	background-color: #44accf;
	position: absolute;
	left: 200px;
}
.cuadro3 {
	width: 200px;
	height: 200px;
	background-color: #b7d84b;
	position: relative;
}
.cuadro4 {
	width: 200px;
	height: 200px;
	background-color: yellow;
	position: relative;
}